body{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: center;
}

.lists{

    background-color: rgba(255, 25, 25, 0.416);
    padding: 20px;
    border-radius: 10px;
}

.elements{

    background-color: rgba(25, 228, 255, 0.341);
    padding: 20px;
    border-radius: 10px;
}
.lists #get-result , #get-result2{
    justify-self: center;
    font-size: larger;
}
.lists button{
    border-radius: 7px;
    font-size: 20px;
    border: 1px solid black;
    background-color: rgba(255, 0, 0, 0.731);
}
.elements button{
    border-radius: 7px;
    font-size: 20px;
    border: 1px solid black;
    background-color: rgba(0, 234, 255, 0.628);
}
select , input{
    font-size: 22px;
    border-radius: 10px;
    border: 1px solid black;
}
table , td , tr, th {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;

}
td , tr, th {
    padding: 5px;
}

tr:nth-child(2n+3){
    background-color: rgba(0, 0, 0, 0.122);
}

@media (max-width:600px) {
    body{
        flex-direction: column;
    }
}